<h1>New Sub</h1>

<form action="<%= subs_url %>" method="post">
  <%= auth_token %>

  <label>Sub Name
    <input type="text" name="sub[name]" value="<%= @sub.name %>">
  </label><br></br>


<% @sub.links.each_with_index do |link, i|%>
<h3>Link <%= i+1 %></h3>

  <label>Title
    <input type="text" name="links[<%= i %>][title]"
          value="<%= link.try(:title) %>">
  </label><br></br>
  <label>URL
    <input type="text" name="links[<%= i %>][url]"
          value="<%= link.try(:url) %>">
  </label><br></br>
  <label>Description (optional)
    <input type="text" name="links[<%= i %>][body]"
          value="<%= link.try(:body) %>">
  </label><br></br>

<% end %>


  <input type="submit" value="Make sub">
</form>
<br>